.add-product-button {
    display         : flex;
    margin-top      : 3%;
    margin-left     : 3%;
    padding         : 10px 20px;
    border          : none;
    border-radius   : 5px;
    font-size       : 1rem;
    cursor          : pointer;
    background-color: #4CAF50;
    color           : white;
    transition      : background-color 0.3s ease;
}

.add-product-button:hover {
    background-color: #45a049;
}
