.food-table-container {
    margin: 20px;
    overflow-x: auto;
}

.food-table {
    width: 70%;
    margin: 2%;
    border-collapse: collapse;
    margin-top: 10px;
}

.food-table th,
.food-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.food-table th {
    background-color: #4CAF50;
    color: white;
}

.food-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.food-table tr:hover {
    background-color: #ddd;
}

/* Button styling */
.food-table .edit-btn,
.food-table .delete-btn {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.food-table .edit-btn {
  background-color: #4CAF50;
  color: white;
}

.food-table .edit-btn:hover {
  background-color: #45a049;
}

.food-table .delete-btn {
  background-color: #f44336;
  color: white;
}

.food-table .delete-btn:hover {
  background-color: #d32f2f;
}